[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

celery = "==4.0.2"
django = "*"
requests = "*"
dj-database-url = "*"
plotly = "*"
pandas = "*"
django-polymorphic = "*"
django-extensions = "*"
django-celery-results = "*"
django-celery-beat = "*"
"psycopg2" = "*"
django-model-utils = "*"
"beautifulsoup4" = "*"
werkzeug = "*"
django-debug-toolbar = "*"
eventlet = "*"
pandas-datareader = {git = "https://github.com/dwrpayne/pandas-datareader.git", ref = "bankofcanada"}
pendulum = {git = "https://github.com/dwrpayne/pendulum.git", ref = "split"}
mod-wsgi = "*"
django-hijack = "*"
python-decouple = "*"
pydot = "*"
django-fernet-fields = "*"


[dev-packages]

