[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

celery = {git = "https://github.com/celery/celery.git", ref = "master"}
django = "*"
requests = "*"
dj-database-url = "*"
pandas = "*"
django-polymorphic = "*"
django-extensions = "*"
django-celery-results = "*"
django-celery-beat = "*"
"psycopg2" = "*"
django-model-utils = "*"
"beautifulsoup4" = "*"
werkzeug = "*"
django-debug-toolbar = "*"
eventlet = "*"
pandas-datareader = "*"
pendulum = {git = "https://github.com/dwrpayne/pendulum.git", ref = "split"}
mod-wsgi = "*"
django-hijack = "*"
python-decouple = "*"
pydot = "*"
django-fernet-fields = "*"
python-highcharts = {git = "https://github.com/dwrpayne/python-highcharts.git", ref = "master"}
ratelimit = "*"
django-redis = "*"
django-mathfilters = "*"
more-itertools = "*"


[dev-packages]

