[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

celery = "==4.0.2"
Django = "*"
requests = "*"
dj-database-url = "*"
pandas = "*"
django_polymorphic = "*"
django-extensions = "*"
django_celery_results = "*"
django_celery_beat = "*"
"psycopg2" = "*"
django-model-utils = "*"
"beautifulsoup4" = "*"
Werkzeug = "*"
django-debug-toolbar = "*"
eventlet = "*"
pandas-datareader = "*"
pendulum = {git = "https://github.com/dwrpayne/pendulum.git", ref = "split"}
mod_wsgi = "*"
django-hijack = "*"
python-decouple = "*"
pydot = "*"
django-fernet-fields = "*"
python-highcharts = {git = "https://github.com/dwrpayne/python-highcharts.git", ref = "master"}


[dev-packages]

