{% load humanize %}
<div id="balances">
    Refresh Count: {{balance_refresh_count}}
    <pre>
        <table cellspacing="10">
            <tr>
                <th>Account</th>
                <th>SOD</th>
                <th>Current</th>
                <th>Change</th>
            </tr>
            {% for name, sod, cur, change in account_data %}
                <tr>
                    <td>{{name}}</td>
                    <td>${{sod | floatformat:0 | intcomma}}</td>
                    <td>${{cur | floatformat:0 | intcomma}}</td>
                    <td>${{change | floatformat:0 | intcomma}}</td>
                </tr>
            {% endfor %}
        </table>
    </pre>
</div>