{% load mytags %}
<div id="balances">
    <pre>
        <table cellspacing="10" id="balances-table">
            <thead>           
                <tr>
                    <th>Account</th>
                    <th>SOD</th>
                    <th>Current</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
            {% for name, sod, cur, change in account_data %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{sod | currency}}</td>
                    <td>{{cur | currency}}</td>
                    <td>{{change | currency | colorize}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            {% for name, sod, cur, change in total_data %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{sod | currency}}</td>
                    <td>{{cur | currency}}</td>
                    <td>{{change | currency | colorize}}</td>
                </tr>
            {% endfor %}
            </tfoot>

        </table>
    </pre>
</div>
