{% load humanize %}
<div id="holdings">   
    Refresh Count: {{holding_refresh_count}}
    <pre>
        <table>
            <tr>
                <th>Symbol</th><th>Price</th><th>Change</th><th>Shares</th><th>Gain (CAD)</th><th>Total Value (CAD)</th>
            </tr>
            {% for symbol, price, color, change, percent_change, shares, gain, total_val in security_data %}
                <tr>
                    <td>{{symbol}}</td>
                    <td>{{price | floatformat:2}}&nbsp;&nbsp;</td>
                    <td><font color="{{color}}">{{change | floatformat:2}} ({{percent_change|floatformat:2}}%)</font></td>
                    <td>{{shares | floatformat:0}}</td>
                    <td><font color="{{color}}">{{gain}}</font></td>
                    <td>{{total_val}}</td>
                </tr>
            {% endfor %}
                <tr><td colspan="100">--------------------------------------</td></tr>
            {% for color, total_gain, percent_gain, total_value in total %}
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td><font color="{{color}}">{{total_gain | floatformat:2}} ({{percent_gain|floatformat:2}}%)</font></td>
                    <td></td>
                    <td>{{total_value}}</td>
                </tr>
            {% endfor %}
        </table>
    <br />Current USD exchange: {{exchange|floatformat:4}}
    </pre>


</div>