{% load mytags %}
<button type="submit" class="refresh" data-refresh-type="holdings">Refresh Holdings</button>
<div id="holdings">   
    Refresh Count: {{holding_refresh_count}}
    <pre>
        <table>
            <tr>
                <th>Symbol</th><th>Price</th><th>Change</th><th>Shares</th><th>Gain (CAD)</th><th>Total Value (CAD)</th>
            </tr>
            {% for symbol, price, change, percent_change, shares, gain, total_val in security_data %}
                <tr>
                    <td>{{symbol}}</td>
                    <td>{{price | floatformat:2}}&nbsp;&nbsp;</td>
                    <td>{{change | currency | colorize}} {{percent_change | percentage | colorize}}</td>
                    <td>{{shares | floatformat:0}}</td>
                    <td>{{gain | currency | colorize}}</td>
                    <td>{{total_val | currency}}</td>
                </tr>
            {% endfor %}
                <tr><td colspan="100">------------------------------------------------------------</td></tr>
            {% for total_gain, percent_gain, total_value in total %}
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>{{total_gain | currency | colorize}} {{percent_gain | percentage | colorize}}</td>
                    <td></td>
                    <td>{{total_value}}</td>
                </tr>
            {% endfor %}
        </table>
    <br />Current USD exchange: {{exchange_live|floatformat:4}} {{exchange_delta | percentage | colorize}}
    </pre>
</div>