{% load static %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{% static "questrade/jquery.tablesorter.min.js" %}"></script>
<script src="{% static "questrade/refresh_button.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "questrade/style.css" %}">
<meta http-equiv="Content-Language" content="en">
    <html>
    <body>
        <br />
        <div style="float:left;margin: 0 0 10px 10px;">
            {% include "questrade/holdings.html" %}
        </div>

        <div style="float:left;margin: 0 10px 10px 10px;">
            {% include "questrade/balances.html" %}
        </div>
        
        <div style="float:left;margin: 0 10px 10px 10px;">   
            <br /><br /> <button type="submit" class="refresh" data-refresh-type="live" data-refresh-div="holdings;balances">Refresh Live Data</button> 
            <br /><br /> <button type="submit" class="refresh" data-refresh-type="daily" data-refresh-div="holdings;balances">Refresh Daily Data</button>
            <br /><br /> <button type="submit" class="refresh" data-refresh-type="account" data-refresh-div="holdings;balances">Refresh Account Data</button>
        </div>

        <div style="clear:both;width:800px">
            {{plotly_embed_html | safe}}
        </div>
    <script>
        $(function(){
            $("#balances-table").tablesorter();
            $("#holdings-table").tablesorter();
        });
    </script>
    </body>
</html>