{% load static %}
<meta http-equiv="Content-Language" content="en">
    <html>
    <body>
        <br />
        <div style="float:left;margin-left: 50px">
            {% include "questrade/holdings.html" %}
        </div>

        <div style="float:left;margin-left: 50px">
            {% include "questrade/balances.html" %}
        </div>
        
        <div id="foobar"></div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="{% static "questrade/refresh_button.js"%}"></script>

    </body>
</html>