.table>tfoot>tr>td {
    font-weight: bold;
}

.body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: "navbar" "content" "footer";

}

button[type=submit]:disabled {
    background-image:url(/static/img/syncing2.gif);
    background-position: center center;
    background-repeat: no-repeat;
    color : transparent;

}
