{% load mytags %}
<div id="balances">
    <pre>
        <table style="border-spacing: 20px 5px;" id="balances-table" class="tablesorter compact">
            <thead>           
                <tr>
                    <th>Account</th>
                    <th>SOD</th>
                    <th>Current</th>
                    <th>Cash</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
            {% for name, sod, cur, cadcash, change in account_data %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{sod | currencyround}}</td>
                    <td>{{cur | currencyround}}</td>
                    <td>{{cadcash | currencyround}}</td>
                    <td>{{change | currency | colorize}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            {% for name, sod, cur, cadcash, change in total_data %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{sod | currencyround}}</td>
                    <td>{{cur | currencyround}}</td>
                    <td>{{cadcash | currencyround}}</td>
                    <td>{{change | currency | colorize}}</td>
                </tr>
            {% endfor %}
            </tfoot>

        </table>
    </pre>
</div>
