{% extends "finance/base.html" %}
{% load mytags %}
{% load static %}
{% block title %}Account History - {{request.user.username}}{% endblock title %}
{% block content %}  
    <br /><br />
    <table id="history">
        <thead>
        <tr>
            <th>Date</th>
            {% for col in names %}<th>{{col}}</th> {% endfor %}
        </tr>
        </thead>
        <tbody>
       {% for row in rows %}
        <tr>
             {% for val in row %}
            <td>{{val}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
