{% load mytags %}
<div id="holdings">
    <table class="table table-striped table-hover table-sm" id="holdings-table">
        <thead>
        <tr><th></th><th>Symbol</th><th>Price</th><th>Change</th><th>Shares</th><th>Gain</th><th>Total Value</th><th>%</th></tr>
        </thead>
        <tfoot>
        {% for total_gain, percent_gain, total_value in total %}
            <tr>
                <td></td>
                <td>Total</td>
                <td></td>
                <td>{{total_gain | currency | colorize}} {{percent_gain | percentage | parens | colorize}}</td>
                <td></td><td></td>
                <td>{{total_value | currency}}</td>
            </tr>
        {% endfor %}
        </tfoot>
        <tbody>
            {% for holding_view in security_data %}
            <tr>
                <td><div data-toggle="collapse" data-target=".holdings-table-child-{{forloop.counter}}" >&gt;</div></td>
                <td><a href="{% url 'finance:securitydetail' symbol %}">{{holding_view.symbol}}</a></td>
                <td>{{holding_view.today_price | floatformat:2}}</td>
                <td>{{holding_view.price_delta | floatformat:2 | colorize}} {{holding_view.percent_delta | percentage | parens | colorize}}</td>
                <td>{{holding_view.qty | floatformat:0}}</td>
                <td>{{holding_view.this_gain | currency | colorize}}</td>
                <td>{{holding_view.value_CAD | currency}}</td>
                <td>{{holding_view.percent | floatformat:1}}</td>
            </tr>
                {% for account in holding_view.account_data %}
                <tr class="collapse holdings-table-child-{{forloop.parentloop.counter}}">
                    <td></td>
                    <td>{{account.acc}}</td>
                    <td>{{account.today_price | floatformat:2}}</td>
                    <td>{{account.price_delta | floatformat:2 | colorize}} {{account.percent_delta | percentage | parens | colorize}}</td>
                    <td>{{account.qty | floatformat:0}}</td>
                    <td>{{account.this_gain | currency | colorize}}</td>
                    <td>{{account.value_CAD | currency}}</td>
                    <td>{{account.percent | floatformat:1}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            
        </tbody>
    </table>
</div>
