{# HTML5 declaration #}
{% load static %}
{% load hijack_tags %}
<!DOCTYPE html>
<html lang="en">
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home{% endblock title %}</title>
            <link rel="icon" type="image/png"
                  href="{% static "img/favicon.ico" %}">
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
                <meta http-equiv="Content-Language" value="en" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% block head_css %}
            {% block head_css_site %}
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                <link rel="stylesheet" href="{% static "finance/style.css" %}" media="screen">
                <link rel="stylesheet" href="{% static "hijack/hijack-styles.css" %}" type="text/css" />
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
    </head>
    <body>
        {% hijack_notification %}
        {# Navigation Menu #}
        <header>
            {% include "navigation.html" %}
        </header>
        {# The Document Body #}
        <main>
            <div id="site-wrapper" class="container-fluid">
            {% include 'messages.html' %}
            {% block content %}
            {% endblock %}
          </div>
        </main>
        {# The Footer #}
        <div class="footer">
            <div class="container">
                <br><br><p>Copyright 2018 David Payne</p>
            </div>
        </div>
    </body>
    {# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
            <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
            <script>
            $(document).ready(function() {
                $.fn.dataTable.moment('ll');
            });
            </script>
        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>
