{% extends "finance/base.html" %}

{% block content %}
    <h2>Security Sync Status</h2>
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th>Security</th>
            <th>Type</th>
            <th>Earliest Data</th>
            <th>Earliest In Use</th>
            <th>Latest In Use</th>
            <th>Latest Data</th>
            <th>Sync Now</th>
            <th>Current Price</th>
            <th>Data Source</th>
        </tr>
        {% for status in view.securities_by_status %}
            {% for security in status %}
                <tr>
                    <td>{{ security.symbol }}</td>
                    <td>{{ security.type }}</td>
                    <td bgcolor="{% if security.prices.earliest.day <= security.earliest_price_needed %}lightgreen{% else %}tomato{% endif %}">
                        {{ security.prices.earliest.day }}
                    </td>
                    <td bgcolor="{% if security.prices.earliest.day <= security.earliest_price_needed %}lightgreen{% else %}tomato{% endif %}">
                        {{ security.earliest_price_needed }}
                    </td>
                    <td bgcolor="{% if security.prices.latest.day >= security.latest_price_needed %}lightgreen{% else %}tomato{% endif %}">
                        {{ security.latest_price_needed }}
                    </td>
                    <td bgcolor="{% if security.prices.latest.day >= security.latest_price_needed %}lightgreen{% else %}tomato{% endif %}">
                        {{ security.prices.latest.day }}
                    </td>
                    <td><button type="submit" class="refresh" data-refresh-type="sync-{{ symbol }}">Sync</button></td>
                    <td>{{ security.prices.latest.price }}</td>
                    <td>{{ security.datasource }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
