.table>tfoot>tr>td {
    font-weight: bold;
}

button[type=submit]:disabled {
    background-image:url(/static/img/syncing2.gif);
    background-position: center center;
    background-repeat: no-repeat;
    color : transparent;

}

.highcharts-series path {
     stroke-linecap: initial;
}
