{% extends "base.html" %}
{% load mytags %}
{% load static %}
{% block title %} {{ account.display_name }} {% endblock title %}
{% block content %}
    <div class="container-fluid">
        <br>
        <div class="row justify-content-center">
            <h3>Transaction history for {{ account.display_name }}</h3>
        </div>
        <br>
        <div class="row">
            <div class="col">
                {% include "finance/activity_table.html" with show_date=True show_account=False show_security=True activities=view.activities %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer_javascript_page %}
    <script>
        $(document).ready(function () {
            $('#activities-table').DataTable({
                "paging": false,
                "searching": false
            });
        });
    </script>

{% endblock footer_javascript_page %}
