{% load mytags %}
<table class="display striped hover" id="activities-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            {% if show_security %}
                <th>Security</th>
            {% endif %}
            {% if show_account %}
                <th>Account</th>
            {% endif %}
            <th>Currency</th>
            <th>Units</th>
            <th>Price</th>
            <th>Total</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for activity in activities %}
        <tr>
            <td>{{activity.trade_date}}</td>
            <td>{{activity.type}}</td>
            {% if show_security %}
                <td>{{activity.security_id}}</td>
            {% endif %}
            {% if show_account %}
                <td>{{activity.account.display_name}}</td>
            {% endif %}
            <td>{{activity.cash_id}}</td>
            <td>{{activity.qty | floatformat:2}}</td>
            <td>{{activity.price | currency}}</td>
            <td>{{activity.net_amount | currency}}</td>
            <td>{{activity.description}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
