{% load mytags %}
<table class="display striped hover" id="activities-table">
    <thead>
        <tr>
            {% if show_date %}
                <th>Date</th>
            {% endif %}
            <th>Action</th>
            {% if show_security %}
                <th>Security</th>
            {% endif %}
            {% if show_account %}
                <th>Account</th>
            {% endif %}
            <th>Currency</th>
            <th>Units</th>
            <th class="text-right">Price</th>
            <th class="text-right">Total</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for activity in activities %}
        <tr>
            {% if show_date %}
                <td>{{ activity.trade_date}}</td>
            {% endif %}
            <td>{{activity.type}}</td>
            {% if show_security %}
                <td>{{activity.security_id}}</td>
            {% endif %}
            {% if show_account %}
                <td>{{activity.account.display_name}}</td>
            {% endif %}
            <td>{{activity.cash_id}}</td>
            <td>{{activity.qty | floatformat:-4}}</td>
            <td class="text-right">{{activity.price | currency}}</td>
            <td class="text-right">{{activity.net_amount | currency}}</td>
            <td>{{activity.description}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
