{% load mytags %}
<div id="balances">
    <table class="table table-striped table-hover table-sm" id="balances-table" >
        <thead>           
            <tr>
                <th>Account</th>
                <th>ID</th>
                <th>SOD</th>
                <th>Current</th>
                <th>Cash</th>
                <th>Change</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                <td>{{account_total.yesterday_balance | currencyround}}</td>
                <td>{{account_total.cur_balance | currencyround}}</td>
                <td>{{account_total.cur_cash_balance | currencyround}}</td>
                <td>{{account_total.today_balance_change | currency | colorize}}</td>
            </tr>
        </tfoot>
        <tbody>
        {% for account_name, balances in accounts.items %}
            <tr>
                <td><a href="{% url 'finance:accountdetail' balances.id %}">{{account_name}}</a></td>
                <td>{{balances.id|truncatechars:15 }}</td>
                <td>{{balances.yesterday_balance | currencyround}}</td>
                <td>{{balances.cur_balance | currencyround}}</td>
                <td>{{balances.cur_cash_balance | currencyround}}</td>
                <td>{{balances.today_balance_change | currency | colorize}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    Current USD exchange: {{exchange_live|floatformat:4}} {{exchange_delta | percentage | parens | colorize}}
</div>
