{% extends "base.html" %}
{% load mytags %}
{% load static %}
{% block title %} {{ view.symbol }} {% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2>Annual Capital Gains Summary</h2>
        </div>
        <div class="row">
            <ul>
                <li>This is a year-by-year summary of all the capital gains and losses you have ever realised in taxable
                    accounts.
                </li>
                <li>All numbers are converted to Canadian dollars.</li>
                <li>These numbers should match what you have reported on your income tax returns.</li>
                <li>Click on each stock symbol to see a detailed breakdown of how the numbers were calculated.</li>
                <li>The "Profit/Loss" column indicates the potential gain or loss if you were to sell your entire
                    holding right now.
                </li>
                <li>The "Gain Percentage" column is the percentage of your holding that is taxable profit.
                    <ul>
                        <li>ie, a Gain Percentage of 25% means that if you sold $100 of shares, you would have a capital
                            gain of $25.
                        </li>
                        <li>If you need to liquidate some cash and want to minimize your capital gain, sell the stocks
                            with the lowest "Gain Percentage".
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <table class="display striped hover" id="capgains-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th colspan="4" class="bg-info">Current Holdings</th>
                        <th colspan="999" class="bg-warning">Realized Gains and Losses</th>
                    </tr>
                    <tr>
                        <th class="text-left">Security</th>
                        {% for colname in columns %}
                            <th class="text-right">{{ colname }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td class="text-left">Total</td>
                        {% for header, val in totals.items %}
                            <td class="text-right">
                                {% if header == "Gain Percentage" %}
                                    {{ val | percentage }}
                                {% else %}
                                    {{ val | currency }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for security, row_dict in dataframe_dict.items %}
                        <tr>
                            <td class="text-left">
                                <a href="{% url 'finance:capgainssec' security %}"><b>{{ security }}</b></a>
                            </td>
                            {% for header, val in row_dict.items %}
                                <td class="text-right">
                                    {% if val != 0 %}
                                        {% if header == "Gain Percentage" %}
                                            {{ val | percentage }}
                                        {% else %}
                                            {{ val | currency }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer_javascript_page %}
    <script>
        $(document).ready(function () {
            $('#capgains-table').DataTable({
                paging: false,
                searching: false,
            });
        });
    </script>
{% endblock %}
