{% extends "base.html" %}
{% load mytags %}
{% load static %}
{% block title %} {{ view.symbol }} {% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2>Annual Capital Gains Summary</h2>
        </div>
        <div class="row">
            <ul>
                <li>This is a year-by-year summary of all the capital gains and losses you have ever realised in taxable
                    accounts.
                </li>
                <li>All numbers are converted to Canadian dollars.</li>
                <li>These numbers should match what you have reported on your income tax returns.</li>
                <li>Click on each stock symbol to see a detailed breakdown of how the numbers were calculated.</li>
                <li>The "Profit/Loss" column indicates the potential gain or loss if you were to sell your entire
                    holding right now.
                </li>
                <li>The "Gain Percentage" column is the percentage of your holding that is taxable profit.
                    <ul>
                        <li>ie, a Gain Percentage of 25% means that if you sold $100 of shares, you would have a capital gain of $25.
                        </li>
                        <li>If you need to liquidate some cash and want to minimize your capital gain, sell the stocks
                            with the lowest "Gain Percentage".
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Unrealized Gains and Losses</h2>
                <table class="table table-hover table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="text-left">Security</th>
                            <th class="text-right">Book Value</th>
                            <th class="text-right">Market Value</th>
                            <th class="text-right">Unrealized Gain/Loss</th>
                            <th class="text-right">Gain %</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td class="text-left">Total</td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right">{{ view.total_pending | currency }}</td>
                            <td class="text-right"></td>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for security, yearly_values in view.yearly_gains.items %}
                        <tr>
                            <td class="text-left"><a href="{% url 'finance:capgainssec' security %}"><b>{{ security }}</b></a></td>
                            {% with summary=view.summary_by_security|lookup:security %}
                                <td class="text-right">{{ summary.book_value | currency }}</td>
                                <td class="text-right">{{ summary.total_value | currency }}</td>
                                <td class="text-right">{{ view.pending_by_security | lookup:security | currency }}</td>
                                <td class="text-right">{{ summary.percent_gains | percentage }}</td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h2>Realized Gains and Losses</h2>
                <table class="table table-hover table-bordered text-center">
                    <thead>
                        <tr>
                            <th class="text-left">Security</th>
                            {% for year in view.years reversed %}
                                <th class="text-right">{{ year }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td class="text-left">Total</td>
                            {% for value in view.total_gains reversed %}
                                <td class="text-right">{% if value %}{{ value | currency }}{% endif %}</td>
                            {% endfor %}
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for security, yearly_values in view.yearly_gains.items %}
                        <tr>
                            <td class="text-left"><a href="{% url 'finance:capgainssec' security %}"><b>{{ security }}</b></a></td>
                            {% for value in yearly_values reversed %}
                                <td class="text-right">{% if value %}{{ value | currency }}{% endif %}</td>
                            {% endfor %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
