{% load mytags %}
{% if summary %}
<ul>
    <li>In taxable accounts, you are holding {{ summary.qty | floatformat:0}} shares of {{ symbol }}.</li>
    <li>Your average cost per share is C{{ summary.acb_per_share | currency }}.</li>
    <li>The current value per share is C{{ summary.cadprice | currency }}.</li>
    <li>The total value is C{{ summary.total_value | currency }}.</li>
    <li>You have a current pending capital {{ summary.pending_gain | gain_word }}
        of C{{ summary.pending_gain | currency}} (C{{ summary.pending_gain_per_share | currency}} per share).</li>
    <li>For each dollar of value, you have {{ summary.percent_gains | currency }} of capital {{ summary.pending_gain | gain_word }}</li>
 </ul>
{% else %}
<ul><li>    You are not currently holding any shares.</li></ul>
{% endif %}
