{% extends "base.html" %}
{% load mytags %}
{% load static %}
{% block title %} {{ view.object.symbol }} {% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h2>Annual Dividend Summary</h2>
        </div>
        <div class="row">
            <ul>
                <li>This is a year-by-year summary of all the dividends you have realised in taxable accounts.</li>
                <li>All numbers are converted to Canadian dollars.</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="dividend-table" class="display striped hover">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        {% for year in years %}
                            <th class="text-right">{{ year }}</th>
                        {% endfor %}
                        <th class="text-right">Total</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td>Total</td>
                        {% for value in yearly_totals %}
                            <td class="text-right">{% if value %}{{ value | currency }}{% endif %}</td>
                        {% endfor %}
                        <td class="text-right">{{ total | currency }}</td>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for symbol, yearly_values in security_year_amounts %}
                        <tr>
                            <td>{{ symbol }}</td>
                            {% for value in yearly_values %}
                                <td class="text-right">{% if value %}{{ value | currency }}{% endif %}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer_javascript_page %}
    <script type="text/javascript">
        function format(d) {
            // `d` is the original data object for the row
            return '';
        };
        $(document).ready(function () {
            var table = $('#dividend-table').DataTable({
                paging: false,
                searching: false,
                info: false
            });

            // Add event listener for opening and closing details
            $('#dividend-table tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });
    </script>
{% endblock footer_javascript_page %}
