{% extends "finance/base.html" %}
{% load mytags %}
{% load static %}
{% block title %}User Profile{% endblock title %}
{% block content %}  
<div align="center">
    <h2>Give me some feedback!</h2>
    {% if request.GET.success %}
        <br>Thank you for your input! Please feel free to send me some more. :)<br><br><br>
    {% endif %}
    <form action="{% url 'finance:feedback' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock content %}
