{% load mytags %}
{% load mathfilters %}
{% load static %}
<div id="holdings">
    <table class="table table-hover table-responsive table-sm" id="holdings-table">
        <thead>
            <tr>
                <th></th>
                <th style="width:90px">Symbol</th>
                <th>Price</th>
                <th class="text-right">Change</th>
                <th class="text-right">Shares</th>
                <th class="text-right" data-toggle="tooltip" title="Converted to Canadian dollars">Today's Gain</th>
                <th class="text-right" data-toggle="tooltip" title="Converted to Canadian dollars">Cost Basis</th>
                <th class="text-right" data-toggle="tooltip" title="Converted to Canadian dollars">Mkt Value</th>
                <th class="text-right" data-toggle="tooltip" title="Converted to Canadian dollars">Gain</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td>Total</td>
                <td></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right">{{total.value_delta | currency | colorize}}
                    {{total.value_percent_delta | percentage | parens | colorize}}</td>
                <td class="text-right">{{total.book_value | currency}}</td>
                <td class="text-right">{{total.value | currency}}</td>
                <td class="text-right">{{total.total_value_gain | currency | colorize}}</td>
            </tr>

        </tfoot>
        {% for holding_detail in holding_data %}
            <tbody>
                <tr>
                    <td>
                        <div data-toggle="collapse" href="#holdings-table-child-{{forloop.counter}}">
                            <i class="far fa-caret-square-down"></i>
                        </div>
                    </td>
                    <td><img src="{% static "flags/"|add:holding_detail.security.currency|lower|add:".png" %}">
                        <a href="{% url 'finance:securitydetail' holding_detail.security %}">{{holding_detail.security}}</a>
                    </td>
                    <td>{{holding_detail.price | floatformat:2}}</td>
                    <td class="text-right">{{holding_detail.price_delta | floatformat:2 | prefix_plusminus | colorize}}
                        {{holding_detail.price_percent_delta | percentage | parens | colorize}}
                    </td>
                    <td class="text-right">{{holding_detail.qty | floatformat:0}}
                        {% if holding_detail.qty_delta %}
                            {{holding_detail.qty_delta | floatformat:0 | prefix_plusminus | parens}}
                        {% endif %}
                    </td>
                    <td class="text-right">{{holding_detail.value_delta | currency | colorize}}
                        {{holding_detail.value_percent_delta | percentage | parens | colorize}}
                    </td>
                    <td class="text-right">{{holding_detail.book_value | currency}}</td>
                    <td class="text-right">{{holding_detail.value | currency}}</td>
                    <td class="text-right">{{holding_detail.total_value_gain | currency | colorize}}</td>
                </tr>
            </tbody>
            <tbody class="collapse" id="holdings-table-child-{{forloop.counter}}">
                {% for account in holding_detail.account_data %}
                    <tr >
                        <td></td>
                        <td colspan="3">{{account.account}}</td>
                        <td class="text-right"></td>
                        <td class="text-right">{{account.qty | floatformat:0}}
                            {% if account.qty_delta %}
                                {{account.qty_delta | floatformat:0 | prefix_plusminus | parens}}
                            {% endif %}
                        </td>
                        <td class="text-right">{{account.value_delta | currency | colorize}}
                            {{account.value_percent_delta | percentage | parens | colorize}}
                        </td>
                        <td class="text-right">{{account.book_value | currency}}</td>
                        <td class="text-right">{{account.value | currency}}</td>
                        <td class="text-right">{{account.total_value_gain | currency | colorize}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
        {% for holding_detail in cash_data %}
            <tbody>
                <tr>
                    <td>
                        <div data-toggle="collapse" data-target="#holdings-table-child-{{forloop.counter|add:"1000"}}" >
                            <i class="far fa-caret-square-down"></i>
                        </div>
                    </td>
                    <td>
                        <img src="{% static "flags/"|add:holding_detail.security.symbol|lower|add:".png" %}">
                        Cash
                    </td>
                    {% if holding_detail.price != 1 %}
                        {% with today_inv=1|div:holding_detail.price yesterday=holding_detail.price|sub:holding_detail.price_delta %}
                        {% with yesterday_inv=1|div:yesterday %}
                            <td class="text-right" colspan="2" data-toggle="tooltip"
                                 title="{{ holding_detail.price | floatformat:6}}">
                                {{ today_inv | floatformat:6}}
                                {{ today_inv|sub:yesterday_inv | floatformat:6 | prefix_plusminus | colorize}}
                                {{ 0 | sub:holding_detail.price_percent_delta | percentage | parens | colorize}}
                            </td>
                        {% endwith %}
                        {% endwith %}

                    {% else %}
                        <td></td>
                        <td class="text-right"></td>
                    {% endif %}
                    <td class="text-right"></td>
                    <td class="text-right">{{holding_detail.value_delta | currency | colorize}}</td>
                    <td class="text-right"></td>
                    <td class="text-right">{{holding_detail.value | currency}}</td>
                    <td class="text-right"></td>
                </tr>
            </tbody>
            <tbody class="collapse" id="holdings-table-child-{{forloop.counter|add:"1000"}}" >
                {% for account in holding_detail.account_data %}
                    <tr>
                        <td></td>
                        <td colspan="3">{{account.account}}</td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right">{{account.value_delta | currency | colorize}}</td>
                        <td class="text-right"></td>
                        <td class="text-right">{{account.value | currency}}</td>
                        <td class="text-right"></td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>
</div>
