{% load base_extras %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Financial Analysis</a>
        </div>
        <ul class="nav navbar-nav">                        
            <li class="{% navactive request 'finance:portfolio' %}">
                <a href="{% url 'finance:portfolio' %}">Portfolio</a></li>

            <li class="dropdown {% navactive request 'finance:history' %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">History
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'finance:history' period='year'%}">Yearly</a></li>
                    <li><a href="{% url 'finance:history' period='month'%}">Monthly</a></li>
                    <li><a href="{% url 'finance:history' period='day'%}">Daily</a></li>
                </ul>
            </li>
            <li class="{% navactive request 'finance:rebalance' %}">
                <a href="{% url 'finance:rebalance' %}">Rebalance</a></li>
            <li class="{% navactive request 'finance:snapshot' %}">
                <a href="{% url 'finance:snapshot' %}">Snapshot</a></li>
            <li class="dropdown {% navactive request 'finance:capgains' %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Capital Gains
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for security in request.user.userprofile.GetCapGainsSecurities %}
                    <li><a href="{% url 'finance:capgains' security %}">{{security}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="{% navactive request 'finance:dividends' %}">
                <a href="{% url 'finance:dividends' %}">Dividends</a></li>
            <li class="dropdown {% navactive request 'finance:securitydetail' %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Security Details
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for security in request.user.userprofile.GetHeldSecurities %}
                    <li><a href="{% url 'finance:securitydetail' security %}">{{security}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown {% navactive request 'finance:accountdetail' %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Account Details<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for account in request.user.userprofile.GetAccounts %}
                    <li><a href="{% url 'finance:accountdetail' account.id %}">{{account.display_name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="{% navactive request 'finance:feedback' %}">
                <a href="{% url 'finance:feedback' %}">Feedback</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
             {% if user.is_staff %}
                <li class="dropdown {% navactive request 'finance:status' %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Admin Panel<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'finance:admin_security' %}">Security Sync Status</a></li>
                        <li><a href="{% url 'finance:admin_accounts' %}">Account Status</a></li>
                    </ul>
                </li>
            {% endif %}
        
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Logged in as {{ request.user }}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'finance:userprofile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% if user.is_superuser %}
                        {% with 'amie sean emily derrill guest' as users %}
                            {% for name in users.split %}
                                <li>
                                    <form action="/hijack/username/{{ name }}/" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link">Hijack {{ name }}</button>
                                    </form>
                                </li>
                            {% endfor %}
                        {% endwith %}
                    {% endif %}
                </ul>
            </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>

    </div>
</nav>
