{% extends "base.html" %}
{% load mytags %}
{% load static %}
{% block title %} {{ request.user.username }} {% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-sm-8">{% include "finance/holdings.html" %}</div>
        <div class="col-sm-4">{% include "finance/balances.html" %}</div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="{{ view.growthchart.container_name }}"></div>
        <div class="col-sm-6" id="{{ view.changechart.container_name }}"></div>
    </div>
{% endblock content %}
{% block footer_javascript_page %}
    {% include "highcharts.html" %}
    {{ view.growthchart.javascript | safe}}
    {{ view.changechart.javascript | safe}}
{% endblock footer_javascript_page %}
