{% extends "finance/base.html" %}
{% load mytags %}
{% load static %}
{% block title %} {{request.user.username}} {% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">{% include "finance/holdings.html" %}</div>
        <div class="col-sm-5">{% include "finance/balances.html" %}</div>
        <div class="col-sm-1">
            <br /><br /> <button type="submit" class="refresh" data-refresh-type="account" data-refresh-div="holdings;balances">Refresh Transactions</button>
            <br /><br /> <button type="submit" class="refresh" data-refresh-type="plot" data-refresh-div="history-plot;growth-plot">Refresh Graphs</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="history-plot">
            {{request.user.userprofile.portfolio_iframe | safe}}
        </div>
        <div class="col-sm-6" id="growth-plot">
            {{request.user.userprofile.growth_iframe | safe}}
        </div>
    </div>
{% endblock content %}
