{% extends "base.html" %}
{% load mytags %}
{% load static %}
{% block title %}Rebalancing Table{% endblock title %}
{% block content %}  
<br /><br />
<div class="row">
    <div class="col-sm-9">
        <table class="table table-striped table-hover" id="rebalance-table">
            <thead>
                <tr>
                    <th>Symbols</th>
                    <th>Desired %</th>
                    <th>Current %</th>
                    <th>Desired $</th>
                    <th>Current $</th>
                    <th>Buy/Sell</th>
                </tr>
            </thead>
            <tbody>
                {% for alloc in allocs %}
                <tr>
                    <td>{{alloc.list_securities}}</td>
                    <td>{{alloc.desired_pct | percentage:0}}</td>
                    <td>{{alloc.current_pct | percentage}}</td>
                    <td>{{alloc.desired_amt | currencyround}}</td>
                    <td>{{alloc.current_amt | currencyround}}</td>
                    <td>{{alloc.buysell | currencyround | colorize}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>{{leftover.list_securities}}</td>
                    <td>{{leftover.desired_pct | percentage:0}} (Inferred)</td>
                    <td>{{leftover.current_pct | percentage}}</td>
                    <td>{{leftover.desired_amt | currencyround}}</td>
                    <td>{{leftover.current_amt | currencyround}}</td>
                    <td>{{leftover.buysell | currencyround | colorize}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <form action="" id="date-submit-form" method="get">
                <label for="cashadd">Additional cash to invest:</label>
                <input type="text" class="form-control" id="cashadd" name="cashadd">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
