{% extends "base.html" %}
{% load mytags %}
{% load static %}
{% block title %}Rebalancing Table{% endblock title %}
{% block content %}  
<br /><br />
<div class="row">
    <div class="col-sm-9">
    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="table table-striped table-hover" id="rebalance-table">
            <thead>
                <tr>
                    <th>Symbols</th>
                    <th>Desired %</th>
                    <th>Current %</th>
                    <th>Desired $</th>
                    <th>Current $</th>
                    <th><font color="green">Buy</font>/<font color="red">Sell</font></th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for allocform in formset %}
                    {{ allocform.id }}
                <tr>
                    <td>{{allocform.instance.list_securities}}</td>
                    <td>{{allocform.desired_pct}}</td>
                    <td>{{allocform.instance.current_pct | floatformat:1}}%</td>
                    <td>{{allocform.instance.desired_amt | currencyround}}</td>
                    <td>{{allocform.instance.current_amt | currencyround}}</td>
                    <td>{{allocform.instance.buysell | currencyround | colorize}}</td>
                    <td>{{allocform.DELETE}}</td>
                </tr>
                {% endfor %}
                {% if leftover %}
                    <tr>
                        <td>{{leftover.list_securities}}</td>
                        <td>{{leftover.desired_pct | floatformat:1}}% (Inferred)</td>
                        <td>{{leftover.current_pct | floatformat:1}}%</td>
                        <td>{{leftover.desired_amt | currencyround}}</td>
                        <td>{{leftover.current_amt | currencyround}}</td>
                        <td>{{leftover.buysell | currencyround | colorize}}</td>
                        <td></td>
                    </tr>
               {% endif %}
            </tbody>
        </table>
        <input type="submit" name="formset-modify" value="Modify allocations" />
    </form>
    {% if leftover %}
        <br><br>
            <b>You have not specified an allocation percentage for the following securities you hold. You can set a target allocation for a group of securities.</b><br>
            <b>You have {{ unassigned_pct }}% remaining to assign.</b>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="form-add" value="Add new allocation" />
        </form>
    {% endif %}

    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <form action="" id="date-submit-form" method="get">
                <label for="cashadd">Additional cash to invest:</label>
                <input type="number" class="form-control" required id="cashadd" name="cashadd" placeholder="{{ cashadd }}">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
