{% extends "base.html" %}
{% load mytags %}
{% load static %}
{% block title %}Rebalancing Table{% endblock title %}

{% block head_css_page %}
    <style>
        .security {
            border: 1px solid #aaaaaa;
            border-radius: 5px;
            margin: 5px;
            padding: 5px;
            transition-duration: 0.3s;
            transition-property: background-color;
        }

        .security:hover {
            background: #afafaf;
            color: #dddddd;
        }

        .allocation {
            border: 2px solid #aaaaaa;
            margin: 5px;
            padding: 5px;
        }

    </style>
{% endblock %}

{% block content %}
    <br/><br/>
    <div class="row">
        <div class="col-sm-7">
        <form>
            <table class="display striped hover" id="rebalance-table">
                <thead>
                <tr>
                    <th>Symbols</th>
                    <th class="text-right">Desired %</th>
                    <th class="text-right">Current %</th>
                    <th class="text-right">Desired $</th>
                    <th class="text-right">Current $</th>
                    <th class="text-right"><font color="green">Buy</font>/<font color="red">Sell</font></th>
                </tr>
                </thead>
                <tbody>
                {% for alloc in allocs %}
                    <tr id="row-{{ alloc.id }}">
                        <td id="{{ alloc.id }}" class="allocation">
                            {% for security in alloc.securities.all %}
                                <span class="security" id="{{ security.symbol }}">
                                    {{ security }}
                                </span>
                            {% endfor %}
                        </td>
                        <td class="text-right" id="{{ alloc.id }}-desired_pct">{{ alloc.desired_pct }}</td>
                        <td class="text-right" id="{{ alloc.id }}-current_pct">{{ alloc.current_pct }}</td>
                        <td class="text-right" id="{{ alloc.id }}-desired_amt">{{ alloc.desired_amt }}</td>
                        <td class="text-right" id="{{ alloc.id }}-current_amt">{{ alloc.current_amt }}</td>
                        <td class="text-right" id="{{ alloc.id }}-buysell">{{ alloc.buysell }}</td>
                    </tr>
                {% endfor %}
                {% if leftover %}
                    <tr id="row-leftover">
                        <td class="allocation">
                            {% for security in leftover.securities %}
                                <span class="security" id="{{ security.symbol }}">
                                    {{ security }}
                                </span>
                            {% endfor %}
                        </td>
                        <td class="text-right" id="leftover-desired_pct">0</td>
                        <td class="text-right" id="leftover-current_pct">{{ leftover.current_pct }}</td>
                        <td class="text-right" id="leftover-desired_amt">{{ leftover.desired_amt }}</td>
                        <td class="text-right" id="leftover-current_amt">{{ leftover.current_amt }}</td>
                        <td class="text-right"
                            id="leftover-buysell">{{ leftover.buysell }}</td>
                    </tr>
                {% endif %}
                <tr id="row-newrow" class="newallocation-class">
                    <td class="allocation" id="newrow">
                        <span id="newalloc-info">Drag a security here to create a new allocation.</span>
                    </td>
                    <td class="text-right" id="newrow-desired_pct">{{ leftover.desired_pct }}</td>
                    <td class="text-right" id="newrow-current_pct"></td>
                    <td class="text-right" id="newrow-desired_amt"></td>
                    <td class="text-right" id="newrow-current_amt"></td>
                    <td class="text-right" id="newrow-buysell"></td>
                </tr>
                </tbody>
            </table>
            <br>
            Enter additional cash to invest:
            <input type="number" min="0" step="1" id="cashadd">
        </form>
        </div>
        <div class="col-sm-5">
            <h3>Insert a pie chart here.</h3>
        </div>

    </div>
    {% csrf_token %}
{% endblock content %}

{% block footer_javascript_page %}
    <script>
        // CSRF Boilerplate
        // TODO: Move this to another include somewhere.
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        // END CSRF Boilerplate

        // Do a substr replace for an allocation row and its elements' ids.
        function rename_row_ids(row, oldstr, newstr) {
            $(row).find("[id*='" + oldstr + "']").each(function () {
                var newid = $(this).attr('id').replace(oldstr, newstr);
                $(this).attr('id', newid);
            });
            var newid = $(row).attr('id').replace(oldstr, newstr);
            $(row).attr('id', newid);
        };

        function update_table_from_ajax(data) {
            if ("newrow" in data) {
                var row = document.getElementById("row-newrow");
                var new_id = data["newrow"];
                rename_row_ids(row, "newrow", new_id);
                table.row(row).invalidate("dom");
                $(row).removeClass("newallocation-class");
                $(row).find('input').attr('disabled', false);
                table.row.add(newrow_template.clone()).draw();
            }
            for (id in data["new-cells"]) {
                var cell = table.cell('#' + id);
                cell.data(data["new-cells"][id]);
                cell.invalidate();
            }
            if ("delete-id" in data) {
                var id = data["delete-id"];
                table.row("#row-" + id).remove().draw();
            }
            table.draw('page');
        }

        // Create sortable security buckets
        function on_drop_security(event, ui) {
            if (event.target.id == "newrow") {
                $(event.target).find('#newalloc-info').remove();
            }
            $.ajax({
                url: window.location.pathname,
                type: "POST",
                data: {
                    source_alloc: ui.sender.attr('id'),
                    security: ui.item.attr('id'),
                    target_alloc: event.target.id
                },
                context: this,
                success: update_table_from_ajax,
                error: function (data) {
                    alert("Couldn't modify allocation!\n" + data["responseText"]);
                },
                complete: function (jqXHR, textStatus) {
                }
            });
        }

        // Create DataTable
        var table;
        var newrow_template;
        $(document).ready(function () {
            newrow_template = $('#row-newrow').clone();
            table = $('#rebalance-table').DataTable({
                columns: [
                    {
                        data: 'Symbols',
                        createdCell: function (td, cellData, rowData, row, col) {
                            $(td).sortable({
                                connectWith: ".allocation",
                                receive: on_drop_security
                            }).disableSelection();
                        },
                    },
                    {
                        data: 'Desired_P',
                        render: function (data, type, row) {
                            num = (Math.round(data * 10) / 10).toFixed(1);
                            id = row.DT_RowId.split('-')[1];
                            disabled = (id == "newrow" ? "disabled " : "");
                            klass = (id == "newrow") ? "" : ' class="summable-pct" ';
                            return '<input type="number" ' + disabled + klass +
                                'value="' + num + '" min="0" max="100" step="0.1" id="' + id + '-desired_pct-input">';
                        }
                    },
                    {
                        data: 'Current_P',
                        render: function (data, type, row) {
                            return (Math.round(data * 100) / 100).toFixed(2) + "%";
                        }
                    },
                    {
                        data: 'Desired_D',
                        render: function (data, type, row) {
                            return "$" + Math.round(data).toLocaleString();
                        }
                    },
                    {
                        data: 'Current_D',
                        render: function (data, type, row) {
                            return "$" + Math.round(data).toLocaleString();
                        }
                    },
                    {
                        data: 'BuySell',
                        render: function (data, type, row) {
                            prefix = data < 0 ? '<font color="red">-$' : '<font color="green">$';
                            dollars = Math.abs(Math.round(data)).toLocaleString();
                            return prefix + dollars + '</font>';
                        }
                    },
                ],
                bInfo: false,
                order: [[1, 'desc']],
                paging: false,
                searching: false,
            });
        });

        $("body").on("change keyup", "input", function () {
            $.ajax({
                url: window.location.pathname,
                type: "POST",
                data: {
                    input_id: this.id,
                    input_val: $(this).val()
                },
                success: update_table_from_ajax
            });
        });
    </script>
{% endblock %}
