{% extends "base.html" %}
{% block title %} Upload Account Data {% endblock title %}

{% block content %}
    <form action="{% url 'finance:uploadcsv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <legend>Upload Transaction History</legend>
        Currently supported brokerages:<br><ul>
        <li>Virtual Brokers</li>
        <li>RBC</li>
        <br><br></ul>
        {{ form.as_p }}
        <input type="submit" id="submit" class="large button expand" value="Submit File">
    </form>
{% endblock %}
