{% extends "base.html" %}
{% load mytags %}
{% load static %}
{% block title %}User Profile{% endblock title %}
{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <h2>Update your information</h2>
            <form method="POST" class="padding">
                {% csrf_token %}
                {{ form.as_p }}
                {{ formset.management_form }}
                {{ formset.as_p }}
                <button type="submit" name="profile" class="btn-floating btn-large">Submit</button>
            </form>
        </div>
  <!--      <div class="col-sm-6">
            <h2>Change your password</h2>
            <form method="POST" class="padding">
                {#% csrf_token %#}
                {#  #}{ pass_form.as_p }}
                <button type="submit" name="password" class="btn-floating btn-large">Submit</button>
            </form>
        </div>--->
    </div>
{% endblock content %}
